.navbar{
  overflow: hidden;
  width:100%;
  height: 50px;
  background-color: rgba(80, 80, 80, 1);
  position: fixed;
  top: 0;
  position:fixed;
}

.game-history{
  margin-left: 5px;
  margin-right: 5px;
  float: right;
}

.logout{
  float: right;
}
