<body>

  <div class="lobby-container">


    <div class="box joined-game">

      <div class="game-header" *ngIf="_playerInfo.game != null">
        <span> Current Game </span>
        <div>{{_playerInfo.game.host.username}}</div>
      </div>
      <app-playerlist *ngIf="_playerInfo.game != null" [playerList]="_playerInfo.game.playerList"></app-playerlist>
      
      <!--<app-chat></app-chat>-->

      <div class="start-leave-button">
        <span>
          <!-- TODO: ng-if the player is the game host, display start game and delete game buttons,
          ELSE if !notGameHost, display the Leave Button -->
          <button type="button" class="btn btn-primary start-game" style="float:right; margin: 5px;" (click)="startGame()"> Start Game</button>
          <button type="button" class="btn btn-warning leave-game" style="float:right; margin: 5px;"> Leave Game</button>
          <button type="button" class="btn btn-warning leave-game" style="float:right; margin: 5px;"> Delete Game</button>
        </span>
      </div>

    </div>


    <div class="box lobby-sidebar">
      <app-gamelist></app-gamelist>

    </div>



  </div>

</body>
