<div class="borders">
  <div class="lobby-container">
    <!-- <app-errors [messages]="errorMessages"></app-errors> -->

    <div class="box joined-game">
      <div class="game-header" *ngIf="_userInfo.game != null">
        Current Game:
        {{_userInfo.game.host.username}}'s Game
      </div>

      <app-userlist *ngIf="_userInfo.game != null" [userList]="_userInfo.game.userList"></app-userlist>

      <app-chat [inLobby]=true *ngIf="_userInfo.game != null"></app-chat>

      <div class="start-leave-button">
        <span *ngIf="_userInfo.game != null">
          <!--                                             // TODO change this back to 2 -->
          <button type="button" *ngIf="_userInfo.game.host._id == _userInfo.user._id" class="btn btn-primary start-game" style="float:right; margin: 5px;"
            (click)="startGame()" [disabled]="_userInfo.game.userList.length < 1 || _userInfo.game.userList.length > 5"> Start Game</button>
          <button type="button" *ngIf="_userInfo.game.host._id != _userInfo.user._id" class="btn btn-warning leave-game" style="float:right; margin: 5px;"
            (click)="leaveGame()"> Leave Game</button>
          <button type="button" *ngIf="_userInfo.game.host._id == _userInfo.user._id" class="btn btn-warning leave-game" style="float:right; margin: 5px;"
            (click)="deleteGame()"> Delete Game</button>
        </span>
      </div>
    </div>
    <div class="box lobby-sidebar">
      <app-gamelist></app-gamelist>
    </div>
  </div>
</div>
