<div class="lobby-container">
  <div class="box joined-game">
    <span> GAME NAME </span>
  </div>
  <div class="box lobby-game-tiles-sidebar">Available games:
    <div class="box game-tile">
      Game 1
      <button type="button" class="btn btn-primary join-game-btn">Join Game</button>
    </div>
    <div class="box game-tile">
      Game 2
      <button type="button" class="btn btn-primary join-game-btn">Join Game</button>
    </div>
    <div class="box game-tile">
      Game 3
      <button type="button" class="btn btn-primary join-game-btn">Join Game</button>
    </div>
    <div class="box game-tile">
      Game 4
      <button type="button" class="btn btn-primary join-game-btn">Join Game</button>
    </div>
    <button type="button" class="btn btn-primary create-game-btn">Create Game</button>
  </div>
</div>