<div class="card-list">

  <div class="pink-cards">
    <img class="card" src="../../assets/images/traincards/pink.png"/>
    <span class="counter">
      x0
    </span>
  </div>

  <div class="black-cards">
    <img class="card" src="../../assets/images/traincards/black.png"/>
  </div>

  <div class="white-cards">
    <img class="card" src="../../assets/images/traincards/white.png"/>
  </div>

  <div class="green-cards">
    <img class="card" src="../../assets/images/traincards/green.png"/>
  </div>

  <div class="blue-cards">
    <img class="card" src="../../assets/images/traincards/blue.png"/>
  </div>

  <div class="red-cards">
    <img class="card" src="../../assets/images/traincards/red.png"/>
  </div>

  <div class="yellow-cards">
    <img class="card" src="../../assets/images/traincards/yellow.png"/>
  </div>

  <div class="orange-cards">
    <img class="card" src="../../assets/images/traincards/orange.png"/>
  </div>

  <div class="rainbow-cards">
    <img class="card" src="../../assets/images/traincards/rainbow.png"/>
  </div>

</div>
