.card-list{
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr 1fr;
  grid-gap: 3px;
  grid-template-areas:
        "pink-cards black-cards"
        "white-cards green-cards"
        "red-cards blue-cards"
        "yellow-cards orange-cards"
        "rainbow-cards train-tokens";
}

.train-tokens{
  grid-area: train-tokens;
}

.token{
  min-height: 50px;
  max-height: 50px;
  width: auto;
  padding-left: 10px;
  padding-top: 5px;
}
