<app-bank></app-bank>


<div class="borders">

  <div class="game-container">
    <div *ngIf="this._gameHistory.historyOpen">
      <app-game-history></app-game-history>
    </div>
    <div *ngIf="gameStart">
      <app-dest-card-selector></app-dest-card-selector>
    </div>

    <div class="box opponent-sidebar">
      <div *ngFor="let user of _userInfo.game.userList; let i = index" [attr.data-index]="i" class ="opponent-card">
        <!-- <ng-container *ngIf="user._id != _userInfo.user._id"> -->
          <app-opponent-card [user]="user" [index]=i></app-opponent-card>
        <!-- </ng-container> -->
      </div>


    </div>

    <div class="box game-board">
      <app-map></app-map>
    </div>

    <div class="box player-sidebar">
      <div class="box player-inventory">
        <app-user-inventory></app-user-inventory>
      </div>
      <div class="chat">
        <app-chat></app-chat>
      </div>
    </div>

  </div>

</div>
