<app-bank></app-bank>
<app-dest-card-selector></app-dest-card-selector>

<div class="borders">

  <div class="game-container">
    <div *ngIf="gameStart">
      <app-dest-card-selector></app-dest-card-selector>
    </div>

    <div class="box opponent-sidebar">
      <div *ngIf="this._userInfo.game">
        <div *ngFor="let user of this._userInfo.game.userList; let i = index" [attr.data-index]="i" class ="opponent-card" >
          <div *ngIf="user._id != this._userInfo.user._id" style="margin-top: 20px;">
            <app-opponent-card [user]="user" [index]=i ></app-opponent-card>
          </div>
        </div>
      </div>
    </div>

    <div class="box game-board">
      <app-map></app-map>
    </div>

    <div class="box player-sidebar">
      <div class="box player-inventory">
        <app-user-inventory></app-user-inventory>
      </div>
      <div class="chat">
        <app-chat></app-chat>
      </div>
    </div>

  </div>

</div>
