<app-bank></app-bank>
<app-dest-card-selector *ngIf="_userInfo.user != null && _userInfo.user.turnState == turnStateEnum.ChoosingDestinationCards"></app-dest-card-selector>
<app-dest-card-viewer *ngIf="_userInfo.viewDestinationCards"></app-dest-card-viewer>
<app-game-final-display *ngIf="_userInfo.game != null && _userInfo.game.gameState == 3"></app-game-final-display>
<app-select-gray-color-modal *ngIf="_userInfo.displayColorSelection"></app-select-gray-color-modal>

<div class="toasts">
  <app-toast></app-toast>
</div>

<div class="borders">

  <div class="game-container">

    <div class="box opponent-sidebar">
      <div *ngIf="_userInfo.game">
        <div *ngFor="let user of _userInfo.game.userList; let i = index" [attr.data-index]="i" class="opponent-card">
          <div style="margin-top: 20px;">
            <app-opponent-card [index]="i"></app-opponent-card>
          </div>
        </div>
      </div>
    </div>

    <app-map>
      <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
      </div>
    </app-map>

    <div class="box player-sidebar">
      <!-- <div class="box player-inventory" [class.inventory-overlay]="!_userInfo.isCurrentTurn()"> -->
        <app-user-inventory></app-user-inventory>
      <!-- </div> -->
      <div class="chat">
        <app-chat [inLobby]=false class="chat-window"></app-chat>
      </div>
    </div>

  </div>

</div>

<audio autoplay *ngIf="_userInfo.isCurrentTurn()">
  <source src="../../assets/audio/choo_choo.mp3" type="audio/mpeg">
</audio>