.borders{
  margin-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14pt;
  overflow: visible;
}
.game-container {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: 1;
  display: grid;
  grid-template-columns: [g-col1-start] 340px [g-col2-start] 1fr [g-col3-start] 325px [g-col3-end];
}

.active-user{
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 80px #FFF;
  border-radius: 3px;
}

.opponent-sidebar {
  grid-column: g-col1-start / g-col2-start;
  min-width: 340px;
  max-width: 340px;
  max-height: 700px;
  float:left;
  /*NEW INTERNAL GRID*/
  display: grid;
    grid-gap: 15px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
}

.box .box {
    background-color: #FFF;
    color: #444;
}
.game-board{
  overflow: auto;
  grid-column: g-col2-start / g-col3-start;
  max-height: 80%;
  overflow-y: hidden;
  margin: 0 10px;
}


.player-sidebar {
  float:right;
  grid-column: 1fr;
  min-width: 325px;
  max-width: 325px;
  margin-bottom: 100px;
}

.player-inventory {
  grid-row: row1-start / row2-start;
  min-width: 300px;
  max-width: 300px;
  font-size: 14px;
}

.chat{
  margin-top: 10px;
  grid-column: col3-start / col3-end;
  grid-row: row2-start / row3-end;
}

.chat-window {
  max-height: 350px;
}