.opponent-card {
  position: relative;
  padding: 10px;
  height: 120px;
  border-radius: 3px;
  background-color: gray;
  display: grid;
  grid-template-rows: 1fr .5fr;
  grid-template-columns: .2fr 1fr 1fr;
  grid-column-gap: 3px;
  grid-row-gap: 8px;
  grid-template-areas:
    'opponent-icon-container opponent-name opponent-name'
    'opponent-train-tokens opponent-dest-cards opponent-train-cards';
}

.card-container{
  position: relative;
  border-radius: 3px;
  width: 100%;
  height: 55px;
}

.token-container{
  position: relative;
  border-radius: 3px;
  width: 50px;
  height: 55px;
}

.counter{
    float: right;
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 15pt;
    text-shadow: 1px 1px black;
}

.opponent-card.current-user {
  background-color: lightgreen;
}

.opponent-card.current-turn {
  background-color: rgb(200, 200, 200);
}

.opponent-card.current-turn.current-user {
  background-color: green;
}

.token {
  height: 60px;
  width: auto;
  position: absolute;
  left: 13px;
  top: -3px;
}

.token+.counter {
  position: absolute;
  top: 10px;
  left: 15px;
}

.card {
  max-width: 100px;
  float: right;
}

.opponent-icon-container {
  grid-area: opponent-icon-container;
  position: absolute;
  top: -15px;
}

.opponent-icon-inner-container {
  width: 55px;
  height: 55px;
}

.opponent-icon{
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 55px;
}

.opponent-name {
  padding-left: 15px;
  padding-bottom: 40px;
  grid-area: opponent-name;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 1px 1px black;
}

.opponent-score {
  grid-area: opponent-score;
  text-align: center;
  font-size: 22px;
  top: 10px;
  position: relative;
  z-index: 5000;
  text-shadow: 1px 1px black;
}

.opponent-train-tokens {
  grid-area: opponent-train-tokens;
}

.opponent-dest-cards {
  grid-area: opponent-dest-cards;
  display: inline-block;

}

.opponent-train-cards {
  grid-area: opponent-train-cards;
}

.active-user{
  @extend .throb;
  outline: none;
  border-color: #9ecaed;
  border-radius: 3px;
  box-shadow: 0 0 10px #FFF;
}

.throb {
  animation-name: throb;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes throb {
  from { box-shadow: 0 0 10px #FFF }
  to { box-shadow: 0 0 80px #FFF }
}
