<div class="opponent-card" [class.active-user]="index == (_userInfo.game.turnNumber % _userInfo.game.userList.length)" [ngStyle]="{ 'background-color': colorEnum[_userInfo.game.userList[index].color] }">
  <!--TODO: Use the proper playericon file depending on the assigned color  -->
  <div class="opponent-icon-container">
    <div class="opponent-icon-inner-container">
      <img class="opponent-icon" src="../../assets/images/playericons/{{ _userInfo.game.userList[index].color }}.png" />
      <div *ngIf="_userInfo.game.userList[index]._id != _userInfo.user._id" class="opponent-score">{{ _userInfo.game.userList[index].points.public }}</div>
      <div *ngIf="_userInfo.game.userList[index]._id == _userInfo.user._id" class="opponent-score">{{ _userInfo.game.userList[index].points.total }}</div>
    </div>
  </div>

  <div class="opponent-name">
    {{ index + 1 }}. {{ _userInfo.game.userList[index].username }}
    <span *ngIf="_userInfo.game.userList[index]._id == _userInfo.user._id">(you)</span>
  </div>


  <div class="opponent-train-tokens token-container">
    <img class="token" src="../../assets/images/traintokens/{{ _userInfo.game.userList[index].color }}car.png" />
    <div class="counter">
      {{ _userInfo.game.userList[index].tokenCount }}
    </div>
  </div>

  <div class="opponent-dest-cards card-container" (click)="destCardClicked()">
    <img class="card" src="../../assets/images/destcards/dest-card-back.jpg" />
    <div class="counter">
      {{ _userInfo.game.userList[index].destinationCardHand.length }}
    </div>
  </div>

  <div class="opponent-train-cards card-container">
    <img class="card" src="../../assets/images/traincards/cardback.png" />
    <div class="counter">
      {{ _userInfo.game.userList[index].trainCardHand.length }}
    </div>
  </div>

</div>