.opponent-card{
  position: relative;
  padding: 10px;
  height: 150px;
  border-radius: 3px;
  background-color: gray;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
        "opponent-icon ....... opponent-name"
        "opponent-train-tokens opponent-dest-cards opponent-train-cards";
}


.token{
  min-height: 50px;
  max-height: 50px;
  width: auto;
  padding-left: 10px;
  padding-top: 5px;
}



.card{
  max-width: 100px;
  max-height: 60px;
}

.opponent-icon{
  position: absolute;
  left: 30px;
  top: -15px;
  max-width: 60px;
  grid-area: opponent-icon;
}

.opponent-name{
  grid-area: opponent-name;
}

.opponent-train-tokens{
  grid-area: opponent-train-tokens;
}

.opponent-dest-cards{
  grid-area: opponent-dest-cards;
}

.opponent-train-cards{
  grid-area: opponent-train-cards;
}
