<div class="opponent-card">
  <!--TODO: Use the proper playericon file depending on the assigned color  -->
  <img class="opponent-icon" src="../../assets/images/playericons/{{ _userInfo.user.color }}.png"/>

  <!--TODO: Add proper player name  -->
  <div class="opponent-name">
    {{ _userInfo.game.userList[index].username }}
  </div>

  <div class="opponent-train-tokens card-container">
    <span>
      <!--TODO: Add proper traintoken file depending on the assigned color, add the counter  -->
      <img class="token" src="../../assets/images/traintokens/{{ _userInfo.user.color }}car.png"/>
      <div class="counter">
        x{{ _userInfo.game.userList[index].tokenCount }}
      </div>
    </span>
  </div>
  <!--TODO: Add counter totals for the dest cards and train cards -->
  <div class="opponent-dest-cards">
    <img class="card" src="../../assets/images/destcards/dest-card-back.png"/>
    {{ _userInfo.game.userList[index].destinationCardHand.length }}
  </div>

  <div class="opponent-train-cards">
    <img class="card" src="../../assets/images/traincards/cardback.png"/>
    {{ _userInfo.game.userList[index].trainCardHand.length }}
  </div>

</div>
