body {
  margin: 40px;
}

    .lobby-container {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: [col1-start] 60%  [col2-start] 40% [col2-end];
      grid-template-rows: [row1-start] 60% [row2-start] 20% [row2-end];
      background-color: #fff;
      color: #444;
    }


    .lobby-game-tiles-sidebar {
      display: grid;
      grid-gap: 10px;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    .joined-game{
        display: grid;
        grid-gap: 10px;
        grid-template-rows: [game-row1-start] 1fr [game-row2-start] 6fr [game-row3-start] 1fr [game-row3-end];
    }

    .join-game-btn{
      grid-row: game-row3-start / game-row3-end;
      float:right;
    }

    .create-game-btn{
      height: 120%;
    }

    .opponent {
      grid-column: 1fr;
      grid-row: 1fr;
    }

    .box {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;

    }

    .box .box {
        background-color: #FFF;
        color: #444;
    }

    .game-tile{

    }


    .map-container{
      margin: auto;
      width: 80%;
      position:relative;
    }

    .gameMap{
      max-height:100%; max-width:100%;
    }

    .player-sidebar {
      grid-column: col3-start / col3-end;
      grid-row: row1-start / row2-end;
    }

    .player-inventory {
      grid-column: col3-start / col3-end;
      grid-row: row1-start / row2-start;
    }

    .chat{
      grid-column: col3-start / col3-end;
      grid-row: row2-start / row2-end;
    }
