<div class="chat-msg" [class.user-msg]="message.user._id == _userInfo.user.id" [class.other-msg]="message.user._id != _userInfo.user.id">
  <div class="chat-msg-sender">
    {{message.user.username}}
  </div>
  <div class="chat-msg-timestamp">
    {{message.timestamp | date: 'shortTime'}}
  </div>
  <div class="chat-msg-text">
    {{message.message}}
  </div>
  <div [class.user-msg-triangle]="message.user._id == _userInfo.user.id" [class.other-msg-triangle]="message.user._id != _userInfo.user.id"></div>
</div>