.chat-msg{
  border-radius: 2px;
  overflow: hidden;
  padding: 5px;
  width:50%;
  font-size:20px;
  margin: 5px;
  display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
          "chat-msg-sender chat-msg-timestamp"
          "chat-msg-text   chat-msg-text";
}

.chat-msg-text{
  grid-area:  2 / 1 / span 1 / span 2;
  font-size: 80%;
}

.chat-msg-sender{
  grid-area:"chat-msg-sender";
  font-size: 60%
}

.chat-msg-timestamp{
  grid-area: "chat-msg-timestamp";
  font-size: 60%;
  float:right;

}

.user-msg{
  background-color: #6b9ae5;
  float:right;
}

.other-msg{
  background-color: #bbb;
}
