.destcard {
  margin: 5px;
  width: 250px;
  height: auto;
  opacity: 0.5;
  transform: scale(0.95);
  transition: transform 0.25s, opacity 0.25s;
}

.cursor {
  cursor: pointer;
}

.card-viewed {
  opacity: 1 !important;
  cursor: default;
}

.card-selected {
  transform: scale(1.05);
  opacity: 1 !important;
}

.overlay {
  cursor: pointer;
}

.card-done {
  border: 3px solid green;
}

.col {
  padding: 0 !important;
}
