.user-inventory{
  grid-area: user-inventory;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;
  grid-template-areas:
        "dest-card-list"
        "train-card-list";
}

.dest-card-button{
  width: 100%;
}

.inventory-header{
  grid-area: inventory-header;
}

// .card-container{
//   position: relative;
//   background-color: gray;
//   border-radius: 3px;
//   margin: 5px;
//   min-height: 60px;
//   min-width: 120px;
//   max-width: 120px;
//   max-height: 60px;
// }

.train-card-list{
  grid-area: train-card-list;

}

.dest-card-list{
  grid-area: dest-card-list;
}

.train-token-pile{
  grid-area: train-token-pile;
}
