<div [ngStyle]="{'display':display}">
  <div class="backdrop"></div>

  <div class="arrow"></div>

  <div class="history-window">
    <div class="history-textbox">
      <!-- TODO: ng-repeat over the game's history messages, if the message is from the user,
      then set the class to "history-msg-user" so that the text aligns properly -->
      <ul>
        <app-history-message [ngClass]="fromUser? 'user-msg' : 'other-msg'"></app-history-message>
        <app-history-message></app-history-message>
        <app-history-message></app-history-message>
     </ul>
    </div>
  </div>
</div>
