<div class="backdrop" [hidden]="!display"></div>

<div class="modal" tabindex="-1" role="dialog" [hidden]="!display">
  <div class="modal-dialog" style="height:80%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Final Display</h4>
      </div>
      <div class="modal-body">

        <!-- <div class="row">
          <app-destination-card *ngFor="let card of _userInfo.user.destinationCardHand" [card]="card"></app-destination-card>
        </div> -->
        <div class="box opponent-sidebar">
          <div *ngIf="_userInfo.game">
            <div *ngFor="let user of _userInfo.game.userList; let i = index" [attr.data-index]="i" class="opponent-card">
              <!--<div *ngIf="user._id != this._userInfo.user._id" style="margin-top: 20px;">
                </div>-->
              <div style="margin-top: 20px;">
                <app-opponent-card [index]="i"></app-opponent-card>
              </div>
            </div>
          </div>
        </div>
        <div class="graph">
          <img style="max-width: 500px;" src = "../../assets/graph.png"/>
        </div>
        <div class="box chat">
          <app-chat></app-chat>
        </div>


      </div>
      <p *ngIf="this.message != null" style="color: red;">{{ this.message }}</p>
      <div class="modal-footer">
        <!--TODO: Disable select button if less than appropriate number of cards are selected -->
        <button type="button" class="btn btn-success" (click)="onCloseHandled()">Return to Lobby</button>
      </div>
    </div>
  </div>
</div>
