.backdrop{
  background-color:rgba(0,0,0,0.6);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1000;
}

.final-display-window{
  position: fixed;
  top: 50%;
  left: 25%;
  padding: 20px;
  transform: translateY(-50%);
  z-index: 1050;
  background-color: #FFF;
  border-radius: 5px;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: grid;
  width: 800px;
  margin: 0 auto;
  z-index: 5000;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
      "title"
      "table"
      "chat"
      "button";
}

.title{
  grid-area: title;
}

.table{
  grid-area: table;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
}

.box .box {
    background-color: #FFF;
    color: #444;
}

.btn-success{
  float:right;
}

.chat{
  grid-area: chat;
}

.button{
  grid-area: button;
}
