<div class="backdrop"></div>

<div class="final-display-window">
  <div>
    <h4 class="title">Game Over!
      <b>{{ winner }}</b> won with {{ winningScore }} points!</h4>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Players</th>
        <th>Points from Routes</th>
        <th scope="col">Completed Contracts</th>
        <th scope="col">Incompleted Contracts</th>
        <th scope="col">Longest Route</th>
        <th scope="col">TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <tr class="player-info" *ngFor="let user of _userInfo.game.userList">
        <th scope="row" [ngStyle]="{'color': rgbaColorEnum[user.color]}">{{user.username}}</th>
        <td>+{{user.points.detailed.routes}}</td>
        <td>+{{user.points.detailed.positiveDestinationCards}}</td>
        <td>-{{user.points.detailed.negativeDestinationCards}}</td>
        <td>+{{user.points.detailed.longestRoute}}</td>
        <td>{{user.points.total}}</td>
      </tr>
    </tbody>
  </table>
  <div class="box chat">
    <app-chat [inLobby]=false></app-chat>
  </div>
  <div class="button">
    <button type="button" class="btn btn-success" (click)="returnToLobby()">Return to Lobby</button>
  </div>
</div>