<div class="backdrop" [hidden]="!display"></div>

<div class="final-display-window" [hidden]="!display">
  <div>
    <h4 class="title">Final Display</h4>
  </div>
  <table class="table">
    <caption>List of users</caption>
    <thead>
      <tr>
        <th scope="col">Players</th>
        <th scope="col">Points from Routes</th>
        <th scope="col">Completed Contracts</th>
        <th scope="col">Incompleted Contracts</th>
        <th scope="col">Longest Route</th>
        <th scope="col">TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <div class="player-info" *ngFor="let player of _userInfo.game.endGameData">
        <tr>
          <!-- <th scope="row">{{player.username}}</th>
          <td>+{{player.routePoints}}</td>
          <td>+{{player.completedContracts}}</td>
          <td>-{{player.incompletedContracts}}</td>
          <td>+{{player.longestRouteBonus}}</td>
          <td>{{player.totalScore}}</td> -->
        </tr>
      </div>
    </tbody>
  </table>
  <div class="box chat">
    <app-chat [inLobby]=false></app-chat>
  </div>
  <div class="button">
    <button type="button" class="btn btn-success" >Return</button>
  </div>
</div>


<!-- <div class="modal" tabindex="-1" role="dialog" [hidden]="!display">
  <div class="modal-dialog" style="height:80%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Final Display</h4>
      </div>
      <div class="modal-body">


        <div class="box opponent-sidebar">
          <div *ngIf="_userInfo.game">
            <div *ngFor="let user of _userInfo.game.userList; let i = index" [attr.data-index]="i" class="opponent-card">

              <div style="margin-top: 20px;">
                <app-opponent-card [index]="i"></app-opponent-card>
              </div>
            </div>
          </div>
        </div>
        <div class="graph">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>


          <table class="table">
            <caption>List of users</caption>
            <thead>
              <tr>
                <th scope="col">Players</th>
                <th scope="col">Points from Routes</th>
                <th scope="col">Completed Contracts</th>
                <th scope="col">Incompleted Contracts</th>
                <th scope="col">Longest Route</th>
                <th scope="col">TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">P1</th>
                <td>+50</td>
                <td>+20</td>
                <td>-12</td>
                <td>+15</td>
                <td>73</td>
              </tr>
              <tr>
                <th scope="row">P2</th>
                <td>+60</td>
                <td>+30</td>
                <td>-20</td>
                <td>+0</td>
                <td>70</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="box chat">
          <app-chat></app-chat>
        </div>


      </div>
      <p *ngIf="message != null" style="color: red;">{{ message }}</p>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="onCloseHandled()">Return to Lobby</button>
      </div>
    </div>
  </div>
</div> -->
