<div class="limiter">
  <div class="container-login">
    <div class="wrap-login">

      <!--Register-->

      <!-- <form class="login-form register-validate-form">
        <span class="login-form-title p-b-34">
          Ticket to Ride Registration
        </span>

        <div class="wrap-input rs3-wrap-input validate-input m-b-20" data-validate="Type user name">
          <input id="username" class="input" type="text" name="username" placeholder="User name">
          <span class="focus-input"></span>
        </div>
        <div class="wrap-input rs3-wrap-input validate-input m-b-20" data-validate="Type password">
          <input id="password" class="input" type="password" name="password" placeholder="Password">
          <span class="focus-input"></span>
        </div>
        <div class="wrap-input rs3-wrap-input validate-input m-b-20" data-validate="Retype password">
          <input id="passwordConfirm" class="input" type="password" name="passwordConfirm" placeholder="Confirm Password">
          <span class="focus-input"></span>
        </div>

        <div class="container-login-form-btn">
          <button class="login-form-btn">
            Register
          </button>
        </div>

        <div class="w-full text-center p-t-27 p-b-239">
          <span class="txt1">
            Forgot
          </span>

          <a href="#" class="txt2">
            User name / password?
          </a>
        </div>

        <div class="w-full text-center">
          <a href="#" class="txt3">
            Sign Up
          </a>
        </div>
      </form> -->

      <!--LOGIN-->

      <form class="login-form login-validate-form">
        <span class="login-form-title p-b-34">
          Ticket to Ride Login
        </span>

        <div class="wrap-input m-b-10" data-validate="Type user name">
          <input id="username" class="input" type="text" name="username" placeholder="User name">
          <span class="focus-input"></span>
        </div>
        <div class="wrap-input m-b-10" data-validate="Type password">
          <input id="password" class="input" type="password" name="password" placeholder="Password">
          <span class="focus-input"></span>
        </div>

        <div class="container-login-form-btn">
          <button class="login-form-btn">
            Login
          </button>
        </div>

        <div class="w-full text-center ">
          <span class="txt1">
            Forgot
          </span>

          <a href="#" class="txt2">
            User name / password?
          </a>
        </div>

        <div class="w-full text-center">
          <span class="txt1">
            New User?
          </span>

          <a href="#" class="txt2">
              Sign Up
          </a>
        </div>

      </form>


      <div class="login-more" style="background-image: url('../../assets/images/train.jpg');"></div>
    </div>
  </div>
</div>



<div id="dropDownSelect1"></div>