<div [ngClass]="{'bank-navbar-left-visible': !leftCollapsed, 'bank-navbar-right-visible': leftCollapsed}">

  <div *ngIf="_userInfo.game != null" class="bank-items">
    <!-- 5 Face Up Cards -->
    <div *ngFor="let trainCard of _userInfo.game.trainCardDeck | slice:0:5; let i = index" class="card-slot traincard-{{i}}">
      <!--TODO: setup onclick event  -->
      <app-train-card (click)="chooseTrainCard(i)" [trainCard]="trainCard"></app-train-card>
    </div>
    <div (click)="chooseTrainCard(5)" class="card-slot traincard-deck">
      <div class="card"  [class.valid-card] = "_userInfo.isCurrentTurn()" [class.invalid-card] = "!_userInfo.isCurrentTurn() || (_userInfo.game.trainCardDeck.length <= 5)">
        <img class="side" src="../../assets/images/traincards/vertical/cardback.jpg"/>
        <img class="side back" src="../../assets/images/traincards/vertical/cardback.png"/>
      </div>
      <div *ngIf="_userInfo.game.trainCardDeck.length >= 5" id="trainCardCount">
          {{_userInfo.game.trainCardDeck.length - 5}} left
      </div>
      <div *ngIf="_userInfo.game.trainCardDeck.length < 5" id="trainCardCount">
          0 left
      </div>
    </div>
    <div (click)="drawDestinationCards()" class="card-slot destcard-deck">
      <div class="card"  [ngClass]="{'valid-card': destCardDeckValid(), 'invalid-card': !destCardDeckValid()}">
        <img class="side" src="../../assets/images/destcards/dest-card-back-vertical.jpg"/>
        <img class="side back" src="../../assets/images/destcards/dest-card-back-vertical.jpg"/>
      </div>
      <div id="destCardCount">
          {{_userInfo.game.destinationCardDeck.length}} left
      </div>
    </div>
  </div>

</div>
