<div class="bank-navbar">

  <div *ngIf="_userInfo.game != null" class="bank-items">
    <!-- 5 Face Up Cards -->
    <div *ngFor="let trainCard of _userInfo.game.trainCardDeck | slice:0:5; let i = index" class="card-slot traincard-{{i}}">
      <!--TODO: setup onclick event  -->
      <app-train-card (click)="chooseTrainCard(trainCard)" [trainCard]="trainCard" ></app-train-card>
    </div>
    <div (click)="chooseTrainCard(_userInfo.game.trainCardDeck[5])" class="card-slot traincard-deck">
        <div class="card"  [class.valid-card] = "_userInfo.isCurrentTurn()" [class.invalid-card] = "!_userInfo.isCurrentTurn()">
         <!-- TODO: no click event needed for phase2-->
          <img class="side" src="../../assets/images/traincards/vertical/cardback.png"/>
           <img class="side back" src="../../assets/images/traincards/vertical/cardback.png"/>
        </div>
        <div id="trainCardCount">
            {{_userInfo.game.trainCardDeck.length}} left
        </div>
      </div>
    <div (click)="chooseDestinationCard(_userInfo.game.destinationCardDeck[0])" class="card-slot destcard-deck">
        <div class="card"   [class.valid-card] = "_userInfo.isCurrentTurn()" [class.invalid-card] = "!_userInfo.isCurrentTurn()">
          <!--TODO: no click event needed for phase2 -->
          <img class="side" src="../../assets/images/destcards/dest-card-back-vertical.jpg"/>
          <img class="side back" src="../../assets/images/destcards/dest-card-back-vertical.jpg"/>
        </div>
        <div id="destCardCount">
            {{_userInfo.game.destinationCardDeck.length}} left
        </div>
    </div>
  </div>
  <div class="bottom-bar">
    <img class="bottom-bar-tracks" src="../../assets/border2.png"/>
  </div>


</div>
