<div class="bank-navbar">

  <div class="bank-items">
    <div class="card-slot traincard-1">
      <div class="card">
        <img class="side" src="../../assets/images/traincards/vertical/green.png"/>
        <img class="side back" src="../../assets/images/traincards/vertical/cardback.png"/>
      </div>
    </div>

    <div class="card-slot traincard-2">
      <div class="card">
        <img class="side" src="../../assets/images/traincards/vertical/black.png"/>
        <img class="side back" src="../../assets/images/traincards/vertical/cardback.png"/>
      </div>
    </div>

    <div class="card-slot traincard-3">
      <div class="card">
        <img class="side" src="../../assets/images/traincards/vertical/white.png"/>
        <img class="side back" src="../../assets/images/traincards/vertical/cardback.png"/>
      </div>
    </div>

    <div class="card-slot traincard-4">
      <div class="card">
        <img class="side" src="../../assets/images/traincards/vertical/yellow.png"/>
        <img class="side back" src="../../assets/images/traincards/vertical/cardback.png"/>
      </div>
    </div>

    <div class="card-slot traincard-5">
      <div class="card">
        <img class="side" src="../../assets/images/traincards/vertical/red.png"/>
        <img class="side back" src="../../assets/images/traincards/vertical/cardback.png"/>
      </div>
    </div>

    <div class="card-slot deck">
      <div class="card">
        <img class="side" src="../../assets/images/traincards/vertical/cardback.png"/>
        <!-- <img class="side back" src="../../assets/images/traincards/vertical/cardback.png"/> -->
      </div>
    </div>


  </div>
  <div class="bottom-bar">
    <img class="bottom-bar-tracks" src="../../assets/border2.png"/>
  </div>


</div>
