.card {
    width: 100px;
    height: 150px;
    margin: 0;
    display: block;
    position: absolute;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}
  
.side {
backface-visibility: hidden;
border-radius: 6px;
height: 100%;
position: absolute;
overflow: hidden;
width: 100%;
animation-iteration-count: 2;
}
.back {
background: #eaeaed;
color: #0087cc;
line-height: 150px;
text-align: center;
transform: rotateY(180deg);
}