
.counter{
    float:right;
    position: absolute;
    top:25%;
    right:10px;
    font-size: 15pt;
  }

.card{
    min-height: 60px;
    min-width: 100px;
    max-width: 100px;
    max-height: 60px;
  }
  
  .card-container{
    position: relative;
    background-color: gray;
    border-radius: 3px;
    margin: 5px;
    min-height: 60px;
    min-width: 140px;
    max-width: 140px;
    max-height: 60px;
  }
  
  .pink-cards{
    grid-area: pink-cards;
  }
  
  .black-cards{
    grid-area: black-cards;
  }
  
  .white-cards{
    grid-area: white-cards;
  }
  
  .green-cards{
    grid-area: green-cards;
  }
  
  .red-cards{
    grid-area: red-cards;
  }
  
  .blue-cards{
    grid-area: blue-cards;
  }
  
  .yellow-cards{
    grid-area: yellow-cards;
  }
  
  .orange-cards{
    grid-area: orange-cards;
  }
  
  .pink-cards{
    grid-area: pink-cards;
  }
  
  .rainbow-cards{
    grid-area: rainbow-cards;
  }