.gameMap{
  background-color: white;
  border-radius: 5px;
}

.map-container{
  margin: auto;
  position:relative;
}

.game-board{
  overflow: auto;
  grid-column: g-col2-start / g-col3-start;
  overflow-y: hidden;
  margin: 0 10px;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
}


.map-overlay{
  opacity: 0.5;
  transition: .5s ease;
  pointer-events: none;
}


/*
SVG elements are organized in the following way:
There are base level groups for the major geographical sections (US/Canada/Mexico)

There are base level groups for the added map features (city dots, city text, routes, train paths)

Routes and train paths are all groups of svg shapes, each has a tag as follows:
Routes: Color-LeftMostCity-RightMostCity
Colors are abbreviated to their first or first and last characters (O, P, Gn, Gy, Bk, Be, Y, W)
If there are multiple connections between two cities there is a 1 or 2 inserted in. 1 being the generally most upper left one

Train Paths:
tp-LeftMostCity-RightMostCity
Like the routes one, there are many paths with an included 1 or 2 with 1 being the upper left most one.
EX: tp-1-Denver-KansasCity
*/
.route{
  transition: all .5s ease-in-out;
  // z-index: 5000;
  padding: 100px;
}


.noselect{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.route:hover{
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888;
  transform-origin: center;
  transform: translate(0px, -5px);
  // z-index: 5050;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 80px #FFF;
}

.car-color{
  fill:inherit !important;
}

.trainPath{
  display: none;
}
