.gameMap {
  background-color: white;
  border-radius: 5px;
}

.map-container {
  margin: auto;
  position: relative;
}

.game-board {
  overflow: auto;
  grid-column: g-col2-start / g-col3-start;
  overflow-y: hidden;
  margin: 0 10px;
  padding-bottom: 0 !important;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
  height: 100%;
}

.map-overlay {
  opacity: 0.5;
  transition: 0.75s ease-in-out;
  pointer-events: none;
}

/*
SVG elements are organized in the following way:
There are base level groups for the major geographical sections (US/Canada/Mexico)

There are base level groups for the added map features (city dots, city text, routes, train paths)

Routes and train paths are all groups of svg shapes, each has a tag as follows:
Routes: Color-LeftMostCity-RightMostCity
Colors are abbreviated to their first or first and last characters (O, P, Gn, Gy, Bk, Be, Y, W)
If there are multiple connections between two cities there is a 1 or 2 inserted in. 1 being the generally most upper left one

Train Paths:
tp-LeftMostCity-RightMostCity
Like the routes one, there are many paths with an included 1 or 2 with 1 being the upper left most one.
EX: tp-1-Denver-KansasCity
*/
.route {
  // z-index: 5000;
  padding: 100px;
  cursor: pointer;
}

.route > g > path {
  fill-opacity: 1 !important;
  transition: fill-opacity 0.25s;
}

.route:hover > g > path {
  fill-opacity: 0.6 !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.dest-city {
  animation-timing-function: ease-in-out;
  animation: dest-city-pulse 5s infinite;
}

@keyframes dest-city-pulse {
  0% {
    stroke-width: 5;
    stroke: blue;
  }
  50% {
    stroke-width: 1;
    stroke: red;
  }
  100% {
    stroke-width: 5;
    stroke: blue;
  }
}

.secondroute {
  display: none;
}

.route:hover {
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888;
  // z-index: 5050;
  outline: none;
  border: 2px solid #9ecaed;
}

.car-color {
  fill: inherit !important;
}

.trainPath {
  display: none;
}
