<div class="backdrop" [hidden]="!display"></div>

<div class="modal" tabindex="-1" role="dialog" [hidden]="!display">
  <div class="modal-dialog" style="height:80%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="_userInfo.game && _userInfo.game.turnNumber < 0">Select 2-3 Dest Cards</h4>
        <h4 class="modal-title" *ngIf="_userInfo.game && _userInfo.game.turnNumber >= 0">Select 1-3 Dest Cards</h4>
      </div>
      <div class="modal-body">

        <div class="row" *ngIf="_userInfo.game && _userInfo.game.turnNumber < 0">
          <app-destination-card *ngFor="let card of _userInfo.user.destinationCardHand" [card]="card"></app-destination-card>
        </div>
        <div class="row" *ngIf="_userInfo.game && _userInfo.game.turnNumber >= 0">
          <app-destination-card *ngFor="let card of _userInfo.game.destinationCardDeck | slice:0:3" [card]="card"></app-destination-card>
        </div>
      </div>
      <p *ngIf="this.message != null" style="color: red;">{{ this.message }}</p>
      <div class="modal-footer">
        <!--TODO: Disable select button if less than appropriate number of cards are selected -->
        <button type="button" class="btn btn-success" *ngIf="_userInfo.game && _userInfo.game.turnNumber < 0" (click)="chooseInitialDestinationCard()">Choose</button>
        <button type="button" class="btn btn-success" *ngIf="_userInfo.game && _userInfo.game.turnNumber >= 0" (click)="chooseDestinationCard()">Choose</button>
      </div>
    </div>
  </div>
</div>