<div class="backdrop" [hidden]="!display"></div>

<div class="modal" tabindex="-1" role="dialog" [hidden]="!display">
  <div class="modal-dialog" style="height:80%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Select 2-3 Dest Cards</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <app-destination-card *ngFor="let card of _userInfo.user.destinationCardHand" [card]="card"></app-destination-card>
        </div>
      </div>
      <p *ngIf="this.message != null" style="color: red;">{{ this.message }}</p>
      <div class="modal-footer">
        <!--TODO: Disable select button if less than appropriate number of cards are selected -->
        <button type="button" class="btn btn-success" (click)="onCloseHandled()">Choose</button>
      </div>
    </div>
  </div>
</div>