<!-- <button type="button" class="btn btn-info btn-lg" (click)="openModal()">click to open</button> -->
<!-- Modal section -->
<div class="backdrop" [hidden]="!display"></div>

<div class="modal" tabindex="-1" role="dialog"  [hidden]="!display" >
  <div class="modal-dialog" style="height:80%;" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title">Select 2-3 Dest Cards</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <app-dest-card [destCard]="_userInfo.user.destinationCardHand[0]"></app-dest-card>
          <app-dest-card [destCard]="_userInfo.user.destinationCardHand[1]"></app-dest-card>
        </div>
        <div class="row">
          <app-dest-card [destCard]="_userInfo.user.destinationCardHand[2]"></app-dest-card>
        </div>
      </div>
      <div class="modal-footer">
        <!--TODO: Disable select button if less than appropriate number of cards are selected -->
        <button type="button" class="btn btn-success" (click)="onCloseHandled()">Choose</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
