<div [class.game-chat-window]="inLobby==false" [class.lobby-chat-window]="inLobby==true">
  <div class="chat-header">Chat</div>
  <div [class.game-chat-history]="inLobby==false" [class.lobby-chat-history]="inLobby==true" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <ul>
      <li>
        <!-- TODO make sure that messages are in the right order -->
        <app-chat-msg *ngFor="let message of messageList" [message]="message"></app-chat-msg>
      </li>
    </ul>
  </div>
  <form [formGroup]="form">
    <div class="chat-input">
      <div class="input-group input-user-msg">
        <input type="text" class="form-control" placeholder="Type a message..." [formControl]="controls.messageToSend" aria-label="User Message"
          aria-describedby="basic-addon2" />
        <div class="input-group-append">
          <button (click)="sendMessage()" class="btn btn-info chat-send" type="submit" [disabled]="!form.valid">Send</button>
        </div>
      </div>
    </div>
  </form>
</div>
<audio autoplay *ngIf="playSound">
  <source src="../../assets/audio/stairs.mp3" type="audio/mpeg">
</audio>