<div class="chat-window">
  <div class="chat-header">Lobby Chat</div>
  <div class="chat-history">
    <ul>
      <!-- <li *ngFor="let message of messageList">
        <app-history-message [ngClass]="fromUser? 'user-msg' : 'other-msg'"></app-history-message>
      </li> -->
      <li>
        <app-chat-msg *ngFor="let message of messageList" [message]="message"></app-chat-msg>
      </li>
   </ul>
  </div>
  <div class="chat-input">
    <div class="input-group mb-3 input-user-msg">
      <input type="text" class="form-control" placeholder="User Message" aria-label="User Message" aria-describedby="basic-addon2"/>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Send</button>
      </div>
    </div>
  </div>
</div>
