<div class="chat-window">
  <div class="chat-header">Chat</div>
  <div class="chat-history" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <ul>
      <li>
        <!-- TODO make sure that messages are in the right order -->
        <app-chat-msg *ngFor="let message of messageList" [message]="message"></app-chat-msg>
      </li>
    </ul>
  </div>
  <form [formGroup]="messageToSend">
    <div class="chat-input">
      <div class="input-group mb-3 input-user-msg">
        <input [formControl]="messageToSend" type="text" class="form-control" placeholder="User Message" aria-label="User Message"
          aria-describedby="basic-addon2" />
        <div class="input-group-append">
          <button (click)="sendMessage()" class="btn btn-outline-secondary chat-send" type="submit">Send</button>
        </div>
      </div>
    </div>
  </form>
</div>