

.counter{
    float:right;
    position: absolute;
    top:25%;
    right:5px;
    font-size: 15pt;
  }

@media screen and (max-width: 1200px){
  .card{
      width: 80px;
      height: 50px;
    }

  .card-container{
    position: relative;
    background-color: gray;
    border-radius: 3px;
    margin: 4px;
    width: 105px;
    height: 50px;

  }
}

@media screen and (min-width: 1200px){
  .card{
      width: 100px;
      height: 60px;
    }

  .card-container{
    position: relative;
    background-color: gray;
    border-radius: 3px;
    margin: 4px;
    width: 125px;
    height: 60px;
  }
}



.pink-cards{
  grid-area: pink-cards;
}

.black-cards{
  grid-area: black-cards;
}

.white-cards{
  grid-area: white-cards;
}

.green-cards{
  grid-area: green-cards;
}

.red-cards{
  grid-area: red-cards;
}

.blue-cards{
  grid-area: blue-cards;
}

.yellow-cards{
  grid-area: yellow-cards;
}

.orange-cards{
  grid-area: orange-cards;
}

.pink-cards{
  grid-area: pink-cards;
}

.rainbow-cards{
  grid-area: rainbow-cards;
}
