<div class="box lobby-sidebar">
  <!-- TODO: ng-repeat over the games available to join -->
  <div class="game-tile-list">
    <app-game-tile></app-game-tile>
    <!-- <app-game-tile></app-game-tile>
    <app-game-tile></app-game-tile>
    <app-game-tile></app-game-tile>
    <app-game-tile></app-game-tile>
    <app-game-tile></app-game-tile>
    <app-game-tile></app-game-tile>
    <app-game-tile></app-game-tile> -->

  </div>
  <button type="button" class="btn btn-success create-game-btn" (click)="createGame()">Add Game</button>
</div>
